@model Evaluacion4.Models.Entidad.Producto

@{
    ViewData["Title"] = "Create";
}

<h1 class="create-title">Registrar un producto</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Categoría de producto</label>
                <select asp-for="IdCategoria" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ADCategoria, "IdCategoria", "NombreCategoria"))">
                </select>
            </div>
            <div class="form-group">
                <label>Nombre de producto</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Descripcion de producto</label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Codigo de producto</label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Stock disponible</label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Foto de producto</label>
                <input type="file" name="picture" class="form-control">
            </div>            
            <div class="form-group">
                <input type="submit" value="Registar producto" class="btn btn-primary btn-crear" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
