@model Evaluacion4.Models.Entidad.Producto

@{
    ViewData["Title"] = "Edita un registro";
}

<h1 class="edit-title">Edita un registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                  
            <div class="form-group">
                <label>Categoria de producto</label>
                <select asp-for="IdCategoria" class="form-control"
                        asp-items="@(new SelectList(ViewBag.ADCategoria, "IdCategoria", "NombreCategoria"))">
                </select>
            </div>
            <div class="form-group">
                <label>Nombre de producto</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Descripcion de producto</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Codigo de producto</label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Stock de producto</label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none">
                @* <label asp-for="IdProducto" class="control-label"></label> *@
                <input asp-for="IdProducto" class="form-control" />
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cambiar datos" class="btn btn-primary btn-editar" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
