* {
    margin: 0;
    padding: 0;
}

.blur {
    pointer-events: all;
}

.blur#bodyBlur.active {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

.contenedor-modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 110px;
    background: rgb(204, 204, 204);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    padding: 20px 25px;
    border-radius: 10px;
}

.contenedor-modal.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    pointer-events: all;
}

.contenedor-modal__resumen {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 110px;
    background: rgb(204, 204, 204);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    padding: 20px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-modal__resumen.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    pointer-events: all;
}


.contenedor-modal__resumen .modal__body-resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contenedor-modal .modal__body {
    font-size: 18px;
    font-weight: 600;
    height: 60%;
    display: flex;
    line-height: 42px;
}

.contenedor-modal .modal__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40%;
}

.contenedor-modal .modal__button button {
    width: 70px;
    height: 100%;
    border: none;
    border-radius: 8px;
    color: #fff;
    line-height: 22px;
    background-color: rgb(16, 72, 253);
    transition: all 0.5s;
}

.contenedor-modal .modal__button button:hover {
    background-color: rgb(55, 101, 255);
}

.boton-pagar-uno {
    cursor: pointer;
}

.btnPagarxProductos {
    cursor: pointer;
}

.btn-cerrar-popUp {
    color: black;
    cursor: pointer;
}

.btn-cerrar-popUp:hover {
    text-decoration: underline black;
}