<div class="carousel">
        <div class="carousel__contenedor">
            <button aria-label="Anterior" class="carousel__anterior">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="carousel__lista">
                <div class="carousel__elemento">
                    <img src="https://www.10wallpaper.com/wallpaper/3840x2160/2103/Spider_Man_No_Way_Home_2021_Film_5K_HD_Poster_3840x2160.jpg" alt="Producto VirtualShop">
                </div>
                <div class="carousel__elemento">
                    <img src="https://www.10wallpaper.com/wallpaper/3840x2160/2103/Spider_Man_No_Way_Home_2021_Film_5K_HD_Poster_3840x2160.jpg" alt="Producto VirtualShop">
                </div>
                <div class="carousel__elemento">
                    <img src="https://www.10wallpaper.com/wallpaper/3840x2160/2103/Spider_Man_No_Way_Home_2021_Film_5K_HD_Poster_3840x2160.jpg" alt="Producto VirtualShop">
                </div>
                <div class="carousel__elemento">
                    <img src="https://www.10wallpaper.com/wallpaper/3840x2160/2103/Spider_Man_No_Way_Home_2021_Film_5K_HD_Poster_3840x2160.jpg" alt="Producto VirtualShop">
                </div>
                <div class="carousel__elemento">
                    <img src="https://www.10wallpaper.com/wallpaper/3840x2160/2103/Spider_Man_No_Way_Home_2021_Film_5K_HD_Poster_3840x2160.jpg" alt="Producto VirtualShop">
                </div>
            </div>
            <button aria-label="Siguiente" class="carousel__siguiente">
                <i class="fas fa-chevron-right"></i>
            </button>
            <div class="carousel__indicadores" role="tabList"></div>
        </div>
    </div>
<div class="container">
    <div class="text-center" style="color:black">
        <h1 class="tittle-welcome">Nuestras categorias:</h1>
    </div>
    <div class="container">
        <div class="card-columns">
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://cocinas.decopasion.com/Minis/tipos-de-electrodomesticos-y-sus-caracteristicas.jpg"
                         alt="Electrohogar Peru">
                    <div class="card-body">
                        <h5 class="card-title">Electrohogar</h5>
                        <p class="card-text">Desde: S/50 - 5000</p>

                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://www.ecestaticos.com/image/clipping/557/418/cf79e58efb0895a682345fae26e1cfe9/las-bebidas-perfectas-para-tomar-por-la-noche.jpg"
                         alt="Bebidas Peru">
                    <div class="card-body">
                        <h5 class="card-title">Bebidas</h5>

                        <p class="card-text">Desde: S/1 - 500</p>

                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://www.casaestilos.com/wp-content/uploads/2019/10/mega-muebles-1.jpg"
                         alt="Muebles Peru">
                    <div class="card-body">
                        <h5 class="card-title">Muebles</h5>

                        <p class="card-text">Desde: S/70 - 4500</p>

                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://s.france24.com/media/display/6aca8d1a-7783-11ea-9cf2-005056bf87d6/w:980/p:16x9/WEB%2005ABR%20DEPORTES%20PORTADA%20FOTO.webp"
                         alt="Deportes Peru">
                    <div class="card-body">
                        <h5 class="card-title">Deportes</h5>

                        <p class="card-text">Desde: S/5 - 800</p>

                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://imagenes.elpais.com/resizer/dk2imC8qEVAZXF4vmzIadXhETm0=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/XDONJFRJA3GYH5A3LV5C2XCL5E.jpg"
                         alt="Calzados Peru">
                    <div class="card-body">
                        <h5 class="card-title">Calzados</h5>

                        <p class="card-text">Desde: S/40 - 500</p>

                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://www.webretail.com.ar/v2/wp-content/uploads/2019/12/jugueteria.jpeg_854710844.jpeg"
                         alt="Jugueteria Peru">
                    <div class="card-body">
                        <h5 class="card-title">Jugueteria</h5>

                        <p class="card-text">Desde: S/5 - 300</p>
                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://i.pinimg.com/originals/44/5f/5e/445f5e0b7710ac0efe0e8475a1fef3db.jpg"
                         alt="Tecnologia Peru">
                    <div class="card-body">
                        <h5 class="card-title">Tecnologia</h5>

                        <p class="card-text">Desde: S/15 - 4500</p>
                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://i.redd.it/di6gy0at4wg61.jpg"
                         alt="Mascotas Peru">
                    <div class="card-body">
                        <h5 class="card-title">Zona mascotas</h5>

                        <p class="card-text">Desde: S/5.50 - 500</p>
                    </div>
                </div>
            </div>
            <div class="card cartitas-bordeadas">
                <div>
                    <img class="card-img-top"
                         src="https://img.freepik.com/foto-gratis/tiro-estudio-mujer-bastante-negra-bolso-compras-blanco-que-coloca-sobre-fondo-amarillo-primavera-moda-look-moda_273443-10.jpg?size=626&ext=jpg"
                         alt="Moda Peru">
                    <div class="card-body">
                        <h5 class="card-title">Moda</h5>

                        <p class="card-text">Desde: S/30 - 550</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>